
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body{
    background-color: rgb(4, 4, 4);
    color: rgb(0, 0, 0);
    height: 100%;
}

.se{
    padding: 5px;
    width: 60px;
    
}
.textSerch{

    width: 80px;
}
.logo .img{
    height: 60px;
}
.left{
    width: 510px;
    padding: 10px;
}

.rigth{
    width: 75vmax;
}

.spotify-playists{
    background: linear-gradient(to bottom, rgb(38, 38, 38), rgb(8, 8, 8));
    height: 25%;
    border-radius: 10px;
}

.home ul li{

    display: flex;
    gap: 15px ;
    width: 14px;
    list-style: none;
    padding-top: 14px;

}
.home{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
}


.searchBox{
    display: flex;
    padding:  5px;
    background: rgb(76, 76, 76);
    border-radius: 30px;
    width: 40vw;
    height: 4vh;
    font-size: 31px;
}




.library{
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    
}

.heading{
    display: flex;
    gap: 15px ;
    width: 344px;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: blod;
    align-items: center;
    font-size: 13px;
}

.heading img{
    width: 40px;
}

.library{
   
    min-height: 82vh;
    position: absolute;
}


.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px ;
    position: absolute;
    bottom: 0;
    padding: 10px;
}


.footer a{
    color: gray;

}

.icon-rigth{
    width: 15px;
    height: 15px;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.rigth{
    margin: 15px 0;
    position: relative;
}


.header{
    display: flex;
    justify-content: space-between;
    background: rgb(34,34,34);
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.header > *{
    padding: 15px;
}

.spotify_playlist{
    max-height: 45%;
    padding: 15px;
}

.spotify-playists .card{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0);

}
.cardContainer{ 
   
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    overflow-y: scroll;
    border-radius: 10px;
    
}
.card > *{
    padding-top: 1px;   
    
}
.card img{
    width: 100%;
    object-fit: contain;
}
 
.play{

position: relative;
top: 200px;
left: 150px;
opacity: var(--a);
transition: all 0.5s ease-out;

}
.card:hover
{
    background-color: rgb(68, 68, 68);
    cursor: pointer;
    --a: 1;
}
.songlist ul li:hover{
    background-color: rgb(68, 68 , 68);
}
.seekbar:hover{
    border: 3px solid rgb(143, 36, 159);
}

.volume:hover{
    color: #761e1e;
}

.button > *{
    margin: 0 12px;
}
.signupbtn{
    background-color: rgb(34,34,34);
    color: rgb(79, 79, 79);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{

    background-color: white;
    border-radius: 21px;
    color: black;
    font-size: 16px;
    padding: 10PX;
    width: 80px;
    cursor: pointer;
}
.loginbtn:hover{
    font-weight: bold;
    padding: 10px 14px;
    font-size: 17px;
}

.playbar > * {
   size-adjust: inherit;

}


.playbar{
    position: fixed;
    bottom: 25px;
    background-color: rgb(189, 189, 189);
    width: 70vw;
    padding: 12px;
    height: 40px;
    border-radius:7px ;
}


.music{
    height: 44px;
    width: 24px;
}

.btnplay{
    height: 25px;
    width: 25px;
    padding: 6px;
    
}

.playnow samp{
    
    display: flex;
    min-width: 90px;
    max-width: 91px;
    justify-content: center;
}

.infoname{
    max-width: 200px;
    min-width: 135px;
    
    
}
.songname{
    margin-top:11px;
}
.songlist{
    
    height: 800px;
    overflow: auto;
    margin-bottom: 44px ;
    padding: 0 12px;
}

.songlist ul li{
    width: 400px;
    list-style-type: decimal ;
    display: flex;
    gap: 25px;
    cursor: pointer;
    padding: 15px 30px;
}

.playimg{
    border: 1px solid rgba(252, 252, 252, 0.282);
    gap: 30px;
    border-radius: 6px;
    margin-bottom: 15px;
}   

.seekbar{
    border: 2px solid rgb(0, 0, 0);
    width: 70vw;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    border-radius: 10px;
}

.circle{

    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    bottom: -43px  ;
    position: relative;
    left: 0;
    transition: left 0.5s;
}
.cursor{
    cursor: pointer;
}
.songButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
}

.songButton .btn {
    margin: 0 10px;
    width: 40px;
    height: 40px;
}

/* .abovebar{
    display: flex;
    justify-content: space-between;
} */

.songtime{
    
    position: relative;
    left: 88%;
    bottom: 24px;
    color: black;
    
}

.songinfo{
    position: relative;
    bottom: 7px;
    color: black;
    left: 15px;
}

.hamburger{
    display: none;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


.close{
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 15px;
    opacity: 0;
}

.text-spotofy-playlist{
    padding: 25px;
}

.volume{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: fixed; 
    bottom: 100px;    
    
}


@media( max-width: 1400px){
    .left{
        background-color: black;
        position: absolute;
        left: -110%;
        transition: all .3s;
        z-index: 1;
        width:350px;
    }
    .header{
        .header {
            position: fixed ;      
        }
        
    }
    .rigth{
        width: 95%;   
    }
    .playbar{
        width: 88vw;
        height: 60px;
        bottom: 35px;
    }
    .seekbar{
        width: 95%;
        
    }
    .hamburger{
        display: block;
    }

    .card{
        width: 90vw;
    }
    .cardContainer{
        margin-bottom: 18vh;
        justify-content: center;
    }
    .spotify-playists .card {
        width: 350px;

    }

    .abovebar{
        display: flex;     
    }
    .songtime{
        display: none;
    }
    .signupbtn{
        display: none;
        
   }
   .hamburgerContainer{
    display: none;
   }
   .circle{
    top :62px;
   }
   .volume{
    bottom: 120px;
    left: 3%;
   }
   .songlist{
  
    height: 60vh;
   }
    .songlist ul li{
        width: 275px;
        gap: 10px;
    }
    .library{
        width: 356px;
    }
    .home{
        width: 336px;
    }
    .close{
        opacity: 1;
    }

    .searchBox{
        font-size: 20px;
    }
    .search{
        margin-top: 5px;
        margin-left: -50px;
    }
}

